<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Content page</title>
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Irina Vilchynska"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900italic,900'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300italic,300,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="libs/font-icon/font-awesome.min.css"/>
    <link rel="stylesheet" href="pagestyle.css"/>
    <link rel="stylesheet" href="layout.css"/>
    <link rel="stylesheet" href="css/responsiveslides.css"/>
    <!--[if IE]>
        <link rel="stylesheet" href="css/fonts/stylesheet.css"/>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="images/ico/favicon.ico">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script src="js/jquery.browser.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script src="js/site.js"></script>
    <script src="js/modernizr-latest.js"></script>

</head>
<body>
<div class="wrapper">
<header class="site-header">
    <section class="container">
        <nav class="header-navigation">
            <a class="responsive-icon" href="javascript:void(0)"></a>
            <ul>
                <li class="lm-nav-activeitem"><a href="home.html" class="lm-nav-activeitem">home</a></li>
                <li><a href="#">what we do</a></li>
                <li><a href="portfolio.html">portfolio</a></li>
                <li><a href="#">online marketing 101</a></li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </nav>
        <section class="logo">
            <a href="#">
                <span></span>
                <img src="images/logo-title@2x.png" alt="TiltedPixel" width="83" />
            </a>
        </section>
    </section>
</header>
<section class="top-buttons">
    <div class="container">
    <a href="#" class="button-right-arrow pull-right">next</a>
    <a href="#" class="button-left-arrow pull-left">previous</a>
    <div class="clearfix"></div>
    </div>
</section>
    <section class="content-section">
        <div class="container">
            <article>
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <p><img src="images/temp/373x437_1.JPG" class="float_right" />Proin <em>accumsan placerat nisi</em>, non ornare mi <strong>sodales</strong> at. Donec imperdiet, <s>dui sit</s> amet tincidunt tincidunt, est elit tincidunt ligula, ac porta diam diam sed libero. Pellentesque habitant morbi tristique senectus et netus</p>
                <p>et malesuada fames ac turpis egestas. Aliquam erat volutpat. Donec ac arcu sit amet mauris consectetur vehicula at <a href="#">vitae nunc</a>. Sed augue risus, faucibus nec tempor vitae, convallis at tortor. Ut commodo, ipsum eget aliquam egestas, odio mauris ornare magna, ac volutpat justo nisl a erat. Mauris non erat vitae neque aliquet mattis ut in risus. Aliquam<sup>25test</sup> erat<sub>25test</sub> volutpat. Maecenas a lorem nec neque lacinia tristique. Nulla at fringilla eros. Morbi placerat tempor sollicitudin. Aliquam aliquet dignissim neque, dictum laoreet metus dignissim in. Ut lacus nunc, vehicula suscipit placerat eu, suscipit non lacus. Morbi ut libero quis lectus euismod bibendum ut eget odio. </p>
                <ul>
                    <li>Bullet Item 1</li>
                    <li>Aliquam aliquet dignissim neque, dictum laoreet metus dignissim in.</li>
                    <li>Bullet Item 3
                        <ol>
                            <li>Item
                                <ul>
                                    <li>Donec ac arcu sit amet mauris consectetur vehicula at <a href="#">vitae nunc</a>. Sed augue risus, faucibus nec tempor vitae, convallis at tortor.</li>
                                    <li>Item</li>
                                </ul>
                            </li>
                            <li>Item</li>
                        </ol>
                    </li>
                    <li>Bullet Item 4
                        <ul>
                            <li>Item</li>
                            <li>Item</li>
                        </ul>
                    </li>
                    <li>Bullet Item 5</li>
                </ul>

                <p>Proin accumsan placerat nisi, non ornare mi sodales at. Donec imperdiet, dui sit amet tincidunt tincidunt, est elit tincidunt ligula, ac porta diam diam sed libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Donec ac arcu sit amet mauris consectetur vehicula at vitae nunc.</p>
                <ol>
                    <li>Item</li>
                    <li>Item
                        <ol>
                            <li>Item</li>
                            <li>Item</li>
                        </ol>
                    </li>
                    <li>Item</li>
                    <li>Item
                        <ul>
                            <li>Item</li>
                            <li>Item</li>
                        </ul>
                    </li>
                    <li>Item</li>
                </ol>
                <p> Morbi placerat tempor sollicitudin. Aliquam aliquet dignissim neque, dictum laoreet metus dignissim in. Ut lacus nunc, vehicula suscipit placerat eu, suscipit non lacus. Morbi ut libero quis lectus euismod bibendum ut eget odio. </p>
                <table>
                    <thead>
                    <tr>
                        <th>TABLE <em>Name</em></th>
                        <th>Column 1</th>
                        <th>Column 2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                    </tr>
                    <tr class="even">
                        <td><strong>Lorem Ipsum</strong> - Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorem <em>Ipsum</em></td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                    </tr>
                    <tr class="even">
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                    </tr>
                    </tbody>
                </table>
                <p><img src="images/temp/373x437_1.JPG" class="float_left" height="100" width="150" />Proin accumsan placerat nisi, non ornare mi sodales at. Donec imperdiet, dui sit amet tincidunt tincidunt, est elit tincidunt ligula, ac porta diam diam sed libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Donec ac arcu sit amet mauris consectetur vehicula at vitae nunc. Sed augue risus, faucibus nec tempor vitae, convallis at tortor. Ut commodo, ipsum eget aliquam egestas, odio mauris ornare magna, ac volutpat justo nisl a erat. Mauris non erat vitae neque aliquet mattis ut in risus. Aliquam erat volutpat. Maecenas a lorem nec neque lacinia tristique. Nulla at fringilla eros. Morbi placerat tempor sollicitudin. Aliquam aliquet dignissim neque, dictum laoreet metus dignissim in. Ut lacus nunc, vehicula suscipit placerat eu, suscipit non lacus. Morbi ut libero quis lectus euismod bibendum ut eget odio. </p>
                <div class="clearfix"></div>
            </article>
        </div>
    </section>
<section class="container">
    <br />
    <p style="text-align: center"><a href="#" class="bigger-button">LEARN MORE</a></p>
</section>
<section class="recent-tweet">
    <article class="container">
        <hgroup>
            <h1>recent tweets</h1>
        </hgroup>
        <div class="tweet" id="tweet">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/tiltedpixel"
               data-widget-id="335482519057207297" data-tweet-limit="1" data-link-color="#f67f21"
               data-screen-name="tiltedpixel"
               data-chrome="nofooter transparent noborders noheader noscrollbar">Tweets by @tiltedpixel</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }

                $(window).bind('load', function () {
                    $('#twitter-widget-0').contents().find('.header, .u-url, .footer').css('display','none');
                    $('#twitter-widget-0').contents().find('.timeline').css({
                        'margin': '0'
                    });
                    $('#twitter-widget-0').contents().find('.e-entry-content').css({
                        'font-family': 'Source Sans Pro',
                        'text-align': 'center',
                        'line-height': 'normal',
                        'font-style': 'italic'
                    });
                    $('#twitter-widget-0').contents().find('.e-entry-title').css({
                        'font-size': '18px',
                        'font-family': 'Source Sans Pro',
                        'text-align': 'center',
                        'line-height': 'normal',
                        'font-style': 'italic'
                    });
                    $('#twitter-widget-0').contents().find('.h-entry').css({
                        'padding': '0'
                    });
                    $('#twitter-widget-0').attr('height', $('#twitter-widget-0').contents().find('.h-entry').height());
                })
            }(document, "script", "twitter-wjs");
            </script>
        </div>
        <div class="follow-us">
            <a href="https://twitter.com/intent/user?screen_name=tiltedpixel">
                <img src="images/tweet-logo@2x.png" width="32" height="26"/> Follow us!
            </a>
        </div>
    </article>
</section>
<div class="push"></div>
</div>
<footer class="site-footer">
    <section class="container top-section">
        <section class="signup-newsletter">
            <hgroup><h5>Get online marketing tips
                delivered to your inbox.</h5></hgroup>
            <form action="http://tiltedpixel.us2.list-manage.com/subscribe/post" method="post">
                <input type="hidden" name="u" value="5344820e042484feb90eb0f62">
                <input type="hidden" name="id" value="f87ef2cffd">
                <input type="text" name="MERGE0" id="MERGE0" value="" placeholder="you@email.com"/>
                <input type="submit" value="submit"/>

                <div class="clearfix"></div>
            </form>
            <p>We HATE spam. Your e-mail will never be sold or rented and you can unsubscribe at anytime (but if we've
                done our job, you won't ever want to).</p>
        </section>
        <nav class="footer-navigation" id="footer-navigation">
            <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </nav>
        <section class="address">
            <p class="phone">
                <span>Worldwide: 519-885-2922</span>
                Toll Free: 1-800-555-5555
            </p>

            <p class="separator">
                <span class="cover"></span>
            </p>

            <p class="cities">Tilting Pixels in Waterloo, Toronto, Ontario, Lethbridge, Alberta...</p>
        </section>
    </section>
    <section class="bottom-section">
        <p><img src="images/copy@2x.png" width="40" height="36" alt="Copyright"/>2013 Tilted Pixel Inc. All rights
            reserved.</p>
    </section>
</footer>
</body>
</html>